* {
    margin:0;
    padding:0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin:10px 15px;
    height: 10%;
    
    /* border-bottom: white 2px solid; */
    
}

main {
    display: flexbox;
    flex-wrap: wrap;


    /* border: white solid 2px;   */
    margin: 5% 20%;

}

div {
    display: flexbox;
    /* border: white solid 2px; */
    margin: 10px;
    /* align-item */
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 5px;

}
h3 {
    font-size: 30px;    

}

p {
    font-size: 20px;
}

button {
    background-color: transparent;

    color: white;
    font-size: 20px;
    text-align: left;
    padding: 5px 10px;
    margin: 5px 0px;
    font-family: 'Courier New', Courier, monospace;
}

.description {
    font-size: 20px;
    text-align: center;
}

.questions {
    /* visibility: hidden; */
    padding: 5px 10px;
}

.correct-incorrect {
    border-top: mediumorchid solid 2px;
    padding: 5px 10px;
    opacity: 70%;
    font-style: italic;
    visibility: hidden;
}

.info-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.b1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.b2{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* visibility: hidden; */

}
/* potentially rearrange how the buttons are organized. Place the play buttons inthe same class, but have the them have their own IDS for highscore nad playagaom */

#play-again, #view-highscore {
    visibility: hidden;
}

#play-again, #view-highscore, #play {
    text-align: center;
    width: 25%;
    align-self: center;
    border:turquoise solid 2px;
    
}

#a, #b, #c, #d {
    border:turquoise solid 2px;
    /* visibility:hidden; */
}



button:hover {
    background-color: turquoise;
    opacity: 80%;
    color: black;
}